</div>
<style>
.footer {
	border: 1px solid;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}
</style>
<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div id="showcase-app-metadata" class="col-sm-4">
				<h4 class="text-muted shiny-showcase-apptitle">
					Radiomica GUI v 0.1a<br> <small> <a
						href="http://www.policlinicogemelli.it/"
						class="shiny-showcase-appauthor">Agostino Gemelli University
							Polyclinic.</a>

					</small>
				</h4>

			</div>
			<div id="showcase-code-inline" class="col-sm-2 col-sm-offset-6"
				style="display: block;">

				<div id="readme-md">

					<p style="padding-top: 10px;">
						<button type="button" class="btn btn-primary">Trova
							aggiornamenti</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<div>