<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<img src="img/KBOlogo.png" height="100px">
			</div>
			<div class="col-sm-6 text-center">
				<h1>KBO.Radiomics</h1>
			</div>
			<div class="col-sm-3 text-right"
				style="padding-top: 10px; left: -10px;">
				<div class="row">
					<div class="col-sm-12">Largo Agostino Gemelli, 8</div>
				</div>
				<div class="row">
					<div class="col-sm-12">00168 Roma</div>
				</div>
				<div class="row">
					<div class="col-sm-12">+39 06 30151</div>
				</div>
				<div class="row">
					<div class="col-sm-12">protocollo.generale.gemelli@pec.it</div>
				</div>
			</div>
		</div>
	</div>
</nav>
